alabaster==0.7.10
alembic==0.9.6
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
argh==0.26.2
asn1crypto==0.23.0
aspy.yaml==1.0.0
astroid==1.5.3
atlas==0.27.0
Babel==2.5.1
beautifulsoup4==4.6.0
billiard==3.3.0.23
bleach==2.1.1
blinker==1.4
blitzloop==0.1
bottle==0.12.13
brotlipy==0.7.0
cached-property==1.3.1
cachetools==2.0.1
celery==3.1.26.post2
cffi==1.11.2
chardet==3.0.4
click==6.7
ConfigArgParse==0.12.0
construct==2.8.16
cryptography==2.1.4
cssutils==1.0.2
cycler==0.10.0
Cython==0.27.3
dae==0.1
decorator==4.1.2
defusedxml==0.5.0
Django==1.10.8
django-celery==3.2.2
django-cors-headers==2.0.2
django-crispy-forms==1.7.2
django-extensions==1.9.7
django-niji==0.1.0
djangorestframework==3.7.7
docutils==0.14
editdistance==0.3.1
EditorConfig==0.12.1
entrypoints==0.2.3
freetype-py==1.0.2
google-api-core==1.0.0
google-auth==1.4.1
google-cloud-vision==0.30.1
googleapis-common-protos==1.5.3
grpcio==1.9.1
h2==3.0.1
hocr-tools==1.1.1
hpack==3.0.0
html2text==2017.10.4
html5lib==0.999999999
httplib2==0.10.3
hyperframe==5.1.0
identify==1.0.7
idna==2.6
imagesize==0.7.1
imutils==0.4.5
ipdb==0.10.3
ipy-table==1.15.1
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.1.0
ipywidgets==6.0.0
isort==4.2.15
jedi==0.11.1
jieba==0.39
Jinja2==2.10
jsbeautifier==1.7.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter-dashboards==0.7.0
jupyter-declarativewidgets==0.7.0
kaitaistruct==0.7
kombu==3.0.37
lazy-object-proxy==1.3.1
louis==3.3.0
lxc==0.1
lxml==3.8.0
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.1
mccabe==0.6.1
mistune==0.8.1
mitmproxy==2.0.2
nbconvert==5.3.1
nbformat==4.4.0
nbgrader==0.5.4
networkx==2.0
nltk==3.2.5
nodeenv==1.2.0
notebook==5.0.0
numpy==1.13.3
oauthlib==2.0.7
olefile==0.44
openshot-qt==2.4.1
packaging==16.8
pandas==0.20.2
pandocfilters==1.4.2
parso==0.1.1
passlib==1.7.1
Paste==2.0.3
pathtools==0.1.2
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
plotly==2.0.13
pluggy==0.6.0
ply==3.10
pre-commit==1.4.1
prompt-toolkit==1.0.15
protobuf==3.4.1
psutil==5.4.1
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.5.2
py-translate==1.0.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.15.4
pycodestyle==2.3.1
pycparser==2.18
pycurl==7.43.0.1
pydensecrf==0.1
pyflakes==1.6.0
Pygments==2.2.0
pygobject==3.26.1
PyJWT==1.6.1
pylint==1.7.5
PyMaxflow==1.2.4
pympv==0.4.1
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyperclip==1.6.0
pytesseract==0.1.7
python-dateutil==2.6.1
python-editor==1.0.3
python-libtorrent==1.1.5
python-sane==2.8.3
python-xlib==0.21
python3-openid==3.1.0
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
redis==2.10.6
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
rope==0.10.7
rsa==3.4.2
ruamel.yaml==0.15.35
scikit-image==0.12.3
scikit-learn==0.18.1
scikit-surprise==1.0.3
scipy==1.0.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
snowballstemmer==1.2.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
sortedcontainers==1.5.9
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1.dev20170522
spyder==3.2.4
SQLAlchemy==1.1.15
team==1.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc1
terminado==0.7
testpath==0.3.1
threadpool==1.3.2
toolz==0.8.2
tornado==4.5.2
tox==2.9.1
traitlets==4.3.2
translate==3.5.0
Unidecode==1.0.22
urllib3==1.22
urwid==1.3.1
vine==1.1.4
virtualenv==15.1.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.13
wget==3.2
Whoosh==2.7.4
widgetsnbextension==2.0.0
wrapt==1.10.11
xxhash==0.6.1
